alabaster==0.7.12
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
black==22.12.0
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coverage==7.2.1
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docutils==0.17.1
entrypoints==0.4
exceptiongroup==1.1.0
filelock==3.10.6
flake8==5.0.4
flake8-black==0.3.6
fonttools==4.38.0
fpdf2==2.6.0
idna==3.4
imagesize==1.4.1
importlib-metadata==4.2.0
iniconfig==2.0.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
Jinja2==3.1.2
jupyter_client==7.4.8
jupyter_core==4.12.0
kiwisolver==1.4.4
line-profiler==4.0.3
llvmlite==0.39.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.5.6
numba==0.56.4
numpy==1.21.6
-e git+https://github.com/TchilDill/openpile.git@7930e9b6ee5b2e2f73db68a16daea4ac16dba09d#egg=openpile
packaging==23.0
pandas==1.3.5
parso==0.8.3
pathspec==0.11.1
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.2.0
pluggy==1.0.0
prompt-toolkit==3.0.36
psutil==5.9.4
pycodestyle==2.9.1
pydantic==1.10.4
pyflakes==2.5.0
Pygments==2.14.0
pyparsing==3.0.9
pyproject_api==1.5.1
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.7
pywin32==305
pyzmq==24.0.1
requests==2.28.1
scipy==1.7.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
tornado==6.2
tox==4.4.8
traitlets==5.8.0
typed-ast==1.5.4
typing_extensions==4.5.0
urllib3==1.26.13
virtualenv==20.21.0
wcwidth==0.2.5
zipp==3.11.0
